@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  color: #000;
  background: #ebebf3;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}


.text-primary {
  color: #000;
}
/* Navbar */
.app__navbar {
  /* box-shadow: 0px 0px 10px rgba(0,0,0,0.1); */
  /* position: sticky; */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.app__navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.app__navbar span i {
  padding-right: 10px;
}

.app__navbar-links ul {
  display: flex;
  align-items: center;
}

.app__navbar-links ul li {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-left: 20px;
  list-style: none;
}

.app__navbar-links ul li a:hover {
    color: gray;
}
.app__navbar-links ul li a {
  color: #000;
}

.app__navbar-head{
    font-size: x-large;
}

/* Main Section */
.app__main{
    min-height: 400px;
}