@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  color: #000;
  background: #ebebf3;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}


.text-primary {
  color: #000;
}
/* Navbar */
.app__navbar {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.app__navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.app__navbar span i {
  padding-right: 10px;
}

.app__navbar-links ul {
  display: flex;
  align-items: center;
}

.app__navbar-links ul li {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-left: 20px;
  list-style: none;
}

.app__navbar-links ul li a:hover {
    color: gray;
}
.app__navbar-links ul li a {
  color: #000;
}

.app__navbar-head{
    font-size: x-large;
}

/* Main Section */
img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.app__main_flex-container{
    flex-direction: row;
    flex: 2;
}

.app__main-image-name{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
}

.app__main_hobbies-priorities-skills{
    padding-top: 20px;
}

.container-box{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

/* FOOTER */
.app__main-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.app__main-container-footer{
    
}

.app__main-footer__links ul{ 
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
}

.app__main-footer__links ul li{
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-left: 20px;
    list-style: none;
}

footer i{
    padding-right: 10px;
    color: #000;
    font-size: 20px;
}